<header>
  <h1>
    Welcome to Prove Me Wrong
  </h1>
  <h2>
   App made by Sandro Räss
  </h2>
</header>
<section>
  <p>
    Philosophy for the win
  </p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>

<%= link_to "To the overview", argumentation_url %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
