<get-argumentation></get-argumentation>
<get-edit-methods></get-edit-methods>

<loading-bar></loading-bar>
<section class="move" ng-class="{'static': movingBlock == 1, 'move-to-right': movingBlock == 2, 'move-to-left': movingBlock == 3}">
    <form novalidate name="form">
        <edit-argumentation-top></edit-argumentation-top>
        <div class="row">
            <edit-argumentation-sidebar></edit-argumentation-sidebar>
            <edit-argumentation-arguments></edit-argumentation-arguments>
        </div>
    </form>
</section>
