<change-language-button></change-language-button>
<get-argumentations></get-argumentations>
<get-go-to-argumentation-method></get-go-to-argumentation-method>

<search-form></search-form>

<loading-bar></loading-bar>

<div class="animate-if" ng-if="loading == false">
    <section class="move" ng-class="{'static': movingBlock == 1, 'move-to-right': movingBlock == 2, 'move-to-left': movingBlock == 3, 'come-in-from-right': movingBlock == 4,'come-in-from-left': movingBlock == 5 }">
        <div ng-if="argumentations.length > 0">
            <search-nav></search-nav>

            <search-results></search-results>

            <search-nav></search-nav>
        </div>
            <br><br><br>
        <div class="panel panel-default" ng-show="argumentations.length == undefined">
            <div class="panel-body">
                <h4>Please Enter Some Searchterms!</h4>
            </div>
        </div>
    </section>
</div>
