<change-language-button></change-language-button>

<get-argumentation></get-argumentation>
<get-go-to-argumentation-method></get-go-to-argumentation-method>

<loading-bar></loading-bar>
<section class="move" ng-class="{'static': movingBlock == 1, 'move-to-right': movingBlock == 2, 'move-to-left': movingBlock == 3}">
    <view-argumentation-top></view-argumentation-top>
        <div class="row">
            <view-argumentation-sidebar></view-argumentation-sidebar>
            <view-argumentation-arguments></view-argumentation-arguments>
        </div>
</section>
