<!-- <div ng-show="argumentation.ownerid == userid"> -->
<div ng-show="argumentation.ownerid == userid">
    <button ng-click="goToOverview(2, 3)"
            class="btn btn-md btn-default">
        <span translate="OVERVIEW"></span>
    </button>

    <button ng-show="environment == 'show'" ng-click="goToArgumentation(argumentation.id, 2, 3, true)"
            class="btn btn-md btn-default">
        <span translate="EDIT"></span>
    </button>

    <button ng-show="environment == 'edit'" ng-click="goToArgumentation(argumentation.id, 3, 2, false)"
            class="btn btn-md btn-default">
        <span translate="LEAVE_EDIT"></span>
    </button>
</div>
<!-- </div> --!>
