<div class="col-md-9">

    <search-for-argumentation></search-for-argumentation>

    <div class="panel panel-primary">
        <div class="panel-heading text-justify">
            <h3 class="panel-title">{{ argumentcontent.title }}</h3>
        </div>

        <div class="panel-body text-justify">

            <textarea type="text" class="form-control" rows="40" required
                      name="argumentcontent_content" ng-model="argumentcontent.content" ng-change="getPreview(argumentcontent.content, argumentcontentpreview)"></textarea>

            <div class="lead text-justify white-space-pre-line" ng-bind-html="argumentcontentpreview | buttonMaker" compile-template></div>

        </div>
    </div>
</div>