<div ng-show="referencemode">
    <section class="search-form">
        <form>
                <label for="keywords" class="sr-only">Keywords</label>
                <input type="text"
                       name="keywords"
                       class="form-control"
                       placeholder= "{{'SEARCH_SHORT_PLACEHOLDER' | translate }}"
                       ng-model="keywords"
                       ng-change="searchargumentationbytitle(keywords)">
        </form>
    </section>

    <section class="scrollable">
        <div ng-repeat="argumentation in argumentations">
            <button class="btn btn-default btn-block" ng-if="argumentation.id"
                    ng-click="createPastable(argumentation)">
                <span class="pull-left">{{argumentation.title}}</span><span class="pull-right"> - <span translate="BY"></span> {{argumentation.owner}}</span>
            </button>
        </div>
    </section>
    <section class="well" ng-show="pastable">
        <span translate="COPY_PASTE"></span> <br><br><input name="copypaste" class="form-control" id="inputDefault" type="text" ng-model="pastable">
    </section>
    <section class="well" ng-show="!pastable">
        <span translate="SEARCH_COMMENT"></span>
    </section>
</div>