<div ng-include=" 'argumentation/searchelements/searchform.html' "></div>

<div ng-include=" 'argumentation/searchelements/loading_bar.html' "></div>

<div class="animate-if" ng-if="loading == false">
    <section class="move" ng-class="{'static': movingBlock == 1, 'move-to-right': movingBlock == 2, 'come-in-from-left': movingBlock == 3, 'move-to-left': movingBlock == 4, 'come-in-from-right': movingBlock == 5, 'move-up': movingBlock == 6, 'come-in-from-up': movingBlock == 7}">

        <div ng-if="argumentations.length > 0">
            <div ng-include=" 'argumentation/searchelements/searchnav.html' "></div>

            <div ng-include=" 'argumentation/searchelements/searchresults.html' "></div>

            <div ng-include=" 'argumentation/searchelements/searchnav.html' "></div>
        </div>

        <div ng-if="argumentations.length == 0">
            No results were found!
        </div>

    </section>
</div>