<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading text-justify">
            <h3 class="panel-title">Arguments</h3>
        </div>


        <div class="list-group">
            <div ng-repeat="argument in argumentation.arguments | orderBy:'place'">
                <a class="list-group-item" ng-click="getcontent(argument)" ng-class="{'higha': argument == argumentcontent} ">
                    <h4 class="list-group-item-heading">{{ argument.title }}</h4>
                </a>
            </div>
        </div>
    </div>
</div>