body {
    padding-top: 100px;
    overflow-x:hidden;
}

.higha{
    background-color : #7e8180 !important;
}

.highlightedText {
    background: #e5eaed;
    color: orange;
}
.bg-standard{
    background-color: #2b3e50 !important;
}

.bg-lightergray{
    background-color : #6b7283 !important;
}
.angular-with-newlines {
    white-space: pre-wrap;
}
div.white-space-pre-line {
    white-space: pre-line;
}

.static{
    -webkit-backface-visibility: hidden;
}

.move-to-right{
    -webkit-backface-visibility: hidden;
    transform: translate(200%, 0%);
}

.move-to-left{
    -webkit-backface-visibility: hidden;
    transform: translate(-200%, 0%);
}

.come-in-from-left{
    -webkit-backface-visibility: hidden;
    animation: jumptoleft-goright 1.3s ease-in-out;
}

.come-in-from-right{
    -webkit-backface-visibility: hidden;
    animation: jumptoright-goleft 1.3s ease-in-out;
}

.move-up{
    transform: translate(0%, -200%);
}

.come-in-from-up{
    animation: jumpup-godown 1.3s ease-in-out;
}


.move {
    transition: all 1.3s ease-in-out;
}

@keyframes jumptoright-goleft {
    0% {
        transform: translate(200%, 0%);
    }
    90% {
        transform: translate(0%, 0%);
    }
    100%{
        display: none;
    }
}

@keyframes jumptoleft-goright {
    0% {
        transform: translate(-200%, 0%);
    }
    90% {
        transform: translate(0%, 0%);
    }
    100% {
        display: none;
    }
}

@keyframes jumpup-godown {
    0% {
        transform: translate(0%, -200%);
    }
    90% {
        transform: translate(0%, 0%);
    }
    100%{
    }
}

.animate-if {


}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

.waiting{
    margin-top: 100px;
}

.scrollable{
    overflow: auto;
    height: 200px;
    margin-bottom: 20px;
}